body {
  width: 100%;
  height: 100%;
}
.map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap : wrap;
}
.map .cell {
  width: 20px;
  height: 20px;
  background-color: #cacaca;
  border: 1px solid black;
  cursor: pointer;
}
.map .opened {
  width: 20px;
  height: 20px;
  background-color: cyan;
  border: 1px solid black;
  cursor: pointer;
}